<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Комплектации</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <div class="left__nav">
        <div><a href="/auto">Автомобили</a></div>
        <div><a href="/auto_model">Модели автомобилей</a></div>
        <div><a href="/auto_mark">Марки автомобилей</a></div>
        <div><a href="/equipment">Комплектации автомобилей</a></div>
        <div><a href="/client">Клиенты</a></div>
        <div><a href="/seller">Продавцы</a></div>
        <div><a href="/pay_type">Способы оплаты</a></div>
        <div><a href="/delivery_type">Способы доставки</a></div>
        <div><a href="/sale">Продажа/покупка</a></div>
    </div>
    <div class="table">

        <div class="display__flex" style=" margin-bottom: 20px">
            <button><a href="/equipment/add">Добавить комплектацию</a></button>
        </div>
        <table >
            <thead >
            <tr >
                <th >id Комплектации</th>
                <th>Цвет кузова</th>
                <th >Двойной климат контроль</th>
                <th>Электро стекло подъемники</th>
                <th >Цвет салона</th>
                <th>Материал салона</th>
                <th >Бортовой компьютер</th>
                <th>Панорамная крыша</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody >
            <tr th:each="equip : ${equipments}">
                <td th:text="${equip.getId() == true ? 'да' : (equip.getId() == false ? 'нет' : equip.getId())}"></td>
                <td th:text="${equip.getBodyColor() == true ? 'да' : (equip.getBodyColor() == false ? 'нет' : equip.getBodyColor())}"></td>
                <td th:text="${equip.getDualZoneClimate() == true ? 'да' : (equip.getDualZoneClimate() == false ? 'нет' : equip.getDualZoneClimate())}"></td>
                <td th:text="${equip.getElectricWindows() == true ? 'да' : (equip.getElectricWindows() == false ? 'нет' : equip.getElectricWindows())}"></td>
                <td th:text="${equip.getInteriorColor() == true ? 'да' : (equip.getInteriorColor() == false ? 'нет' : equip.getInteriorColor())}"></td>
                <td th:text="${equip.getInteriorTrim() == true ? 'да' : (equip.getInteriorTrim() == false ? 'нет' : equip.getInteriorTrim())}"></td>
                <td th:text="${equip.getOnBoardComputer() == true ? 'да' : (equip.getOnBoardComputer() == false ? 'нет' : equip.getOnBoardComputer())}"></td>
                <td th:text="${equip.getPanoramicRoof() == true ? 'да' : (equip.getPanoramicRoof() == false ? 'нет' : equip.getPanoramicRoof())}"></td>
                <td class="display__flex">
                    <button><a th:href="@{'/equipment/' + ${equip.getId()}}">Изменить</a></button>
                    <form th:action="@{'/equipment/delete/'+ ${equip.getId()}}" method="post">
                        <button id="delete" type="submit">Удалить</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>


    </div>
</div>

</body>
</html>
