<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добавление продажи</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <div class="form">

        <form action="/sale/add" method="post">
            Добавление проджажи
            <div>Покупатель
                <select name="client" required>
                    <option th:each="client : ${clients}"
                            th:text="${client.getFullName()}"
                            th:value="${client.getId()}">
                    </option>
                </select>
            </div>
            <div>
                Продавец
                <select name="seller" required>
                    <option th:each="seller : ${sellers}"
                            th:text="${seller.getFullName()}"
                            th:value="${seller.getId()}">
                    </option>
                </select>
            </div>
            <div>
                Автомобиль
                <select name="automobile" required>
                    <option th:each="auto : ${automobiles}"
                            th:text="${auto.getAutomobileModel().getAutomobileMark().getName()} + ' ' + ${auto.getAutomobileModel().getName()} "
                            th:value="${auto.getId()}">
                    </option>
                </select>
            </div>
            <div>Сумма сделки<input placeholder="Введите сумму сделки" type="number" name="sum" required></div>
            <div>Дата сделки<input placeholder="Введите дату сделки" type="date" name="date" required></div>
            <div>
               Доставка
                <select name="deliveryType" required>
                    <option th:each="delType : ${deliveryTypes}"
                            th:text="${delType.getName()}"
                            th:value="${delType.getId()}"></option>
                </select>

            </div>
            <div>
                Оплата
                <select name="payType" required>
                    <option th:each="payType : ${payTypes}"
                            th:text="${payType.getName()}"
                            th:value="${payType.getId()}">
                    </option>
                </select>
            </div>
            <div th:if="${error}" class="error-message" style="color: red;">
                <p th:text="${error}"></p>
            </div>
            <button type="submit">Добавить</button>
        </form>
    </div>

</div>

</body>
</html>