<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <div class="left__nav">
        <div><a href="/auto">Автомобили</a></div>
        <div><a href="/auto_model">Модели автомобилей</a></div>
        <div><a href="/auto_mark">Марки автомобилей</a></div>
        <div><a href="/equipment">Комплектации автомобилей</a></div>
        <div><a href="/client">Клиенты</a></div>
        <div><a href="/seller">Продавцы</a></div>
        <div><a href="/pay_type">Способы оплаты</a></div>
        <div><a href="/delivery_type">Способы доставки</a></div>
        <div><a href="/sale">Продажа/покупка</a></div>
    </div>
</div>
</body>
</html>